.questionDescription {
    position: relative;
    overflow: hidden;
    height: 400px;
    top: -60px;
    background: $graydark;

    & h2 {
        margin-top: 10px;
        font-size: 30px;
        text-transform: uppercase;
        color: $yellow;
        text-align: center;
    }

    &_text {
        margin: 0 30px;
        font-size: 25px;
        color: $yellow;
    }
}
