@import 'userAvatar/userAvatar.pcss';
@import 'userInformation/userInformation.pcss';

.profile {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    border: solid 1px;
    padding: 40px 30px;
    display: flex;
    flex-direction: row;

    @media (--all) {
        width: auto;
    }

    @media (--mobile-mobile-sm) {
        display: flex;
        flex-direction: column;
    }

    &-wrapper {
        background-color: rgba(50, 55, 57, .9);
    }
}
