@import 'userAvatar/userAvatar.pcss';
@import 'userInformation/userInformation.pcss';

.error-message-page {
    color: $yellow;
    font-size: 1.2em;
    margin-top: 20px;
}

.profile {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 30px;
    display: flex;
    flex-direction: row;

    @media (--all) {
        width: auto;
    }

    @media (--mobile-mobile-sm) {
        display: flex;
        flex-direction: column;
    }
}
