/* Fonts */
@import 'https://fonts.googleapis.com/css?family=Righteous';
@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import './_variables.pcss';
/* modules */
@import '../../component/header/header.pcss';
@import '../../component/header/__registration/__registration.pcss';
/* pages */
@import '../../component/pages/questlist/questlist.pcss';
