.questionTask {
    position: relative;
    overflow: hidden;
    background: $graydark;
    border-bottom: 2px solid $yellow;
    display: flex;
    justify-content: center;

    & img {
        position: relative;
    }
}
