.comments {
    position: relative;
    background: $graydark;
}

.comments-label {
    padding: 20px 0;
    margin-top: 0;
    margin-bottom: 0;
}

.comments {
    color: $yellow;

    &__container {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    &__form {
        padding: 10px 0;
    }
}

.comment-break {
    border: none;
    color: $yellow;
    background-color: $yellow;
    height: 1px;
}

.comment {
    padding: 10px;
}
