.comments {
    position: relative;
    background: $graydark;
}

.comments-label {
    margin-top: 0;
}

.comment {
    position: relative;
    margin: 0 20px 10px 10px;
    overflow: hidden;
    display: flex;
    color: $yellow;
}

.comment-username {
    position: relative;
    color: $yellow;
    font-size: 1.2em;
    margin-left: 10px;
}

.comment-break {
    border: none;
    color: $yellow;
    background-color: $yellow;
    height: 1px;
}
