@import '__filter/__filter.pcss';
@import '__search/__search.pcss';

.questlist-settings {
    overflow: hidden;
    padding: 40px 200px;
    border-top: 2px solid $yellow;
    background-color: $graydark;
}
