.questlist-settings {
    position: relative;
    border-top: 2px solid $yellow;

    &__wrap {
        position: relative;
        width: 1360px;
        margin: 0 auto;
        padding: 40px 30px;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 20;

        @media (--all) {
            width: auto;
        }
    }
}
